docker/flows.json
[{"id":"6b129507.8172f4","type":"tab","label":"AWS IOT","disabled":false,"info":""},{"id":"b3b15296.6898f8","type":"inject","z":"6b129507.8172f4","name":"Ariranha","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"Ariranha\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":100,"y":280,"wires":[["63b559c7.bbca88"]]},{"id":"a35b271e.06591","type":"random","z":"6b129507.8172f4","name":"temperatura","low":"39","high":"39","inte":"true","property":"payload.temperatura","x":490,"y":220,"wires":[["1c398314.8000d5"]]},{"id":"63b559c7.bbca88","type":"random","z":"6b129507.8172f4","name":"humidade","low":"10","high":"30","inte":"true","property":"payload.humidade","x":320,"y":260,"wires":[["a35b271e.06591"]]},{"id":"f254dc9e.b6aff8","type":"inject","z":"6b129507.8172f4","name":"Onça Pintada","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"Onca Pintada\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":110,"y":340,"wires":[["63b559c7.bbca88"]]},{"id":"7264af7c.ed756","type":"inject","z":"6b129507.8172f4","name":"Preguiça","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"Preguiça\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":100,"y":400,"wires":[["63b559c7.bbca88"]]},{"id":"4cff47e3.b2f288","type":"inject","z":"6b129507.8172f4","name":"Fonte de Água","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"SensorAgua\",\"temperatura\":\"1\",\"humidade\":\"1\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":120,"y":480,"wires":[["995e0fc7.f14408"]]},{"id":"995e0fc7.f14408","type":"random","z":"6b129507.8172f4","name":"ph","low":"6","high":"9","inte":"true","property":"payload.ph","x":330,"y":340,"wires":[["5bfcf0e0.5dc958"]]},{"id":"5bfcf0e0.5dc958","type":"random","z":"6b129507.8172f4","name":"Nível de água","low":"1","high":"10","inte":"true","property":"payload.nivelagua","x":480,"y":340,"wires":[["a50d66f8.e46748"]]},{"id":"a50d66f8.e46748","type":"random","z":"6b129507.8172f4","name":"temperatura","low":"20","high":"40","inte":"true","property":"payload.temperatura","x":650,"y":340,"wires":[["41392af2.745754"]]},{"id":"18fcfd89.cf5c2a","type":"inject","z":"6b129507.8172f4","name":"Fonte de calor e fogo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"SensorFogo\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":140,"y":560,"wires":[["fa1e2fd7.9f6cc"]]},{"id":"fa1e2fd7.9f6cc","type":"random","z":"6b129507.8172f4","name":"temperatura","low":"20","high":"40","inte":"true","property":"payload.temperatura","x":410,"y":420,"wires":[["2b5e6b25.6e5894"]]},{"id":"2b5e6b25.6e5894","type":"random","z":"6b129507.8172f4","name":"co2","low":"8","high":"10","inte":"true","property":"payload.co2","x":610,"y":420,"wires":[["9bce8bd5.db4d5"]]},{"id":"41392af2.745754","type":"mqtt out","z":"6b129507.8172f4","name":"Fontes de Água","topic":"aguas","qos":"0","retain":"","broker":"","x":860,"y":340,"wires":[]},{"id":"9bce8bd5.db4d5","type":"mqtt out","z":"6b129507.8172f4","name":"Fontes de Calor e Fogo","topic":"queimadas","qos":"0","retain":"","broker":"","x":850,"y":420,"wires":[]},{"id":"e3223e35.041c28","type":"mqtt in","z":"6b129507.8172f4","name":"Animais Monitorados","topic":"habitante","qos":"0","datatype":"auto","broker":"","x":420,"y":560,"wires":[["1383cc17.2c9cec"]]},{"id":"1383cc17.2c9cec","type":"debug","z":"6b129507.8172f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"4e688782.70695","type":"mqtt in","z":"6b129507.8172f4","name":"Fontes de Água","topic":"aguas","qos":"0","datatype":"auto","broker":"","x":400,"y":480,"wires":[["1383cc17.2c9cec"]]},{"id":"c5a745d0.7dd1c8","type":"mqtt in","z":"6b129507.8172f4","name":"Fontes de calor e fogo","topic":"queimadas","qos":"0","datatype":"auto","broker":"","x":420,"y":620,"wires":[["1383cc17.2c9cec"]]},{"id":"1c398314.8000d5","type":"mqtt out","z":"6b129507.8172f4","name":"Animais Monitorados","topic":"habitante","qos":"0","retain":"","broker":"","x":720,"y":200,"wires":[]}]
