docker/flow.json
[{"id":"29cfacfb.88f81c","type":"tab","label":"AWS IOT","disabled":false,"info":""},{"id":"dceebf64.91f2d","type":"mqtt in","z":"29cfacfb.88f81c","name":"","topic":"elefantes","qos":"0","datatype":"auto","broker":"bcdddffe.1568c8","x":100,"y":60,"wires":[["66ed5c74.8efd04"]]},{"id":"66ed5c74.8efd04","type":"debug","z":"29cfacfb.88f81c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"4536c545.763bcc","type":"mqtt out","z":"29cfacfb.88f81c","name":"","topic":"elefantes","qos":"0","retain":"","broker":"bcdddffe.1568c8","x":840,"y":120,"wires":[]},{"id":"bd0bccb2.eabf58","type":"inject","z":"29cfacfb.88f81c","name":"","props":[{"p":"payload"},{"p":"elefantes","v":"Hello World !!!","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["4536c545.763bcc"]]},{"id":"f15c45ef.e435b","type":"watch","z":"29cfacfb.88f81c","name":"Monitoring File","files":"/tmp/arquivo.txt","recursive":"","x":100,"y":180,"wires":[["f4d1ad6d.d1148"]]},{"id":"4d38da64.b2c06c","type":"file","z":"29cfacfb.88f81c","name":"","filename":"/tmp/arquivo.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":360,"y":500,"wires":[[]]},{"id":"8356fcb6.6789f8","type":"inject","z":"29cfacfb.88f81c","name":"Escrever arquivo","props":[{"p":"payload"},{"p":"elefantes","v":"Hello World!","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":540,"wires":[["4d38da64.b2c06c"]]},{"id":"f4d1ad6d.d1148","type":"change","z":"29cfacfb.88f81c","name":"","rules":[{"t":"set","p":"payload.elefantes","pt":"msg","to":"Hello ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":180,"wires":[["4536c545.763bcc"]]},{"id":"a0a1d4d0.d43918","type":"inject","z":"29cfacfb.88f81c","name":"Simba","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"humidade\":\"0\",\"temperatura\":\"0\",\"elemento\":\"simba\"}","payloadType":"json","x":200,"y":300,"wires":[["f4aa63ac.3d07d8"]]},{"id":"66c49969.6d122","type":"mqtt out","z":"29cfacfb.88f81c","name":"","topic":"elefantes","qos":"0","retain":"","broker":"bcdddffe.1568c8","x":840,"y":380,"wires":[]},{"id":"14ac4ab3.3cfc0d","type":"random","z":"29cfacfb.88f81c","name":"temperatura","low":"9","high":"16","inte":"true","property":"payload.temp","x":690,"y":380,"wires":[["66c49969.6d122"]]},{"id":"f4aa63ac.3d07d8","type":"random","z":"29cfacfb.88f81c","name":"humidade","low":"10","high":"30","inte":"true","property":"payload.humidade","x":540,"y":380,"wires":[["14ac4ab3.3cfc0d"]]},{"id":"23d9a81e.482d38","type":"inject","z":"29cfacfb.88f81c","name":"Scar","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"humidade\":\"0\",\"temperatura\":\"0\",\"elemento\":\"scar\"}","payloadType":"json","x":190,"y":360,"wires":[["f4aa63ac.3d07d8"]]},{"id":"709159b6.92ef08","type":"inject","z":"29cfacfb.88f81c","name":"Pinoquio","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"humidade\":\"0\",\"temperatura\":\"0\",\"elemento\":\"pinoquio\"}","payloadType":"json","x":200,"y":420,"wires":[["f4aa63ac.3d07d8"]]},{"id":"bcdddffe.1568c8","type":"mqtt-broker","z":"","name":"IoT Thing Parque Nacional","broker":"a3gx386m9gv319.iot.us-east-1.amazonaws.com","port":"8883","tls":"aae10560.3cef","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aae10560.3cef","type":"tls-config","z":"","name":"IoT Thing Certiificados","cert":"","key":"","ca":"","certname":"raspberry.cert.pem","keyname":"raspberry.private.key","caname":"root-CA.crt","servername":"","verifyservercert":true}]