docker/flows.json
[{"id":"715fde2e.295388","type":"tab","label":"AWS IOT","disabled":false,"info":""},{"id":"c0f01c33.cbf7","type":"inject","z":"715fde2e.295388","name":"Ariranha","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"Ariranha\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":100,"y":280,"wires":[["c3175fc9.394d68"]]},{"id":"4db087af.b86d3","type":"random","z":"715fde2e.295388","name":"temperatura","low":"39","high":"39","inte":"true","property":"payload.temperatura","x":490,"y":220,"wires":[["6d06dc04.161fec"]]},{"id":"c3175fc9.394d68","type":"random","z":"715fde2e.295388","name":"humidade","low":"10","high":"30","inte":"true","property":"payload.humidade","x":320,"y":260,"wires":[["4db087af.b86d3"]]},{"id":"9bcbdf3f.e589c","type":"inject","z":"715fde2e.295388","name":"Onça Pintada","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"Onca Pintada\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":110,"y":340,"wires":[["c3175fc9.394d68"]]},{"id":"b445bd49.dc9dc","type":"inject","z":"715fde2e.295388","name":"Preguiça","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"Preguiça\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":100,"y":400,"wires":[["c3175fc9.394d68"]]},{"id":"673067bb.056e1","type":"inject","z":"715fde2e.295388","name":"Fonte de Água","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"SensorAgua\",\"temperatura\":\"1\",\"humidade\":\"1\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":120,"y":480,"wires":[["42400703.b32e6"]]},{"id":"42400703.b32e6","type":"random","z":"715fde2e.295388","name":"ph","low":"6","high":"9","inte":"true","property":"payload.ph","x":330,"y":340,"wires":[["4af81d15.6fef8c"]]},{"id":"4af81d15.6fef8c","type":"random","z":"715fde2e.295388","name":"Nível de água","low":"1","high":"10","inte":"true","property":"payload.nivelagua","x":480,"y":340,"wires":[["213d18e.87dbae8"]]},{"id":"213d18e.87dbae8","type":"random","z":"715fde2e.295388","name":"temperatura","low":"20","high":"40","inte":"true","property":"payload.temperatura","x":650,"y":340,"wires":[["b4b7bfe1.fc7638"]]},{"id":"7a7445f6.0c9c3c","type":"inject","z":"715fde2e.295388","name":"Fonte de calor e fogo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"SensorFogo\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":140,"y":560,"wires":[["a7e0ffff.9397e8"]]},{"id":"a7e0ffff.9397e8","type":"random","z":"715fde2e.295388","name":"temperatura","low":"20","high":"40","inte":"true","property":"payload.temperatura","x":410,"y":420,"wires":[["e5028a57.785df8"]]},{"id":"e5028a57.785df8","type":"random","z":"715fde2e.295388","name":"co2","low":"8","high":"10","inte":"true","property":"payload.co2","x":610,"y":420,"wires":[["ff9bc043.4eaa88"]]},{"id":"6d06dc04.161fec","type":"mqtt out","z":"715fde2e.295388","name":"Animais Monitorados","topic":"habitante","qos":"0","retain":"","broker":"56623c88.ebbc04","x":720,"y":200,"wires":[]},{"id":"b4b7bfe1.fc7638","type":"mqtt out","z":"715fde2e.295388","name":"Fontes de Água","topic":"aguas","qos":"0","retain":"","broker":"56623c88.ebbc04","x":860,"y":340,"wires":[]},{"id":"ff9bc043.4eaa88","type":"mqtt out","z":"715fde2e.295388","name":"Fontes de Calor e Fogo","topic":"queimadas","qos":"0","retain":"","broker":"56623c88.ebbc04","x":850,"y":420,"wires":[]},{"id":"28a4cbef.a9bedc","type":"mqtt in","z":"715fde2e.295388","name":"Animais Monitorados","topic":"habitante","qos":"0","datatype":"auto","broker":"56623c88.ebbc04","x":420,"y":560,"wires":[["e45f07ea.f6ca4"]]},{"id":"e45f07ea.f6ca4","type":"debug","z":"715fde2e.295388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"da76d746.bd18","type":"mqtt in","z":"715fde2e.295388","name":"Fontes de Água","topic":"aguas","qos":"0","datatype":"auto","broker":"56623c88.ebbc04","x":400,"y":480,"wires":[["e45f07ea.f6ca4"]]},{"id":"aa7f93f7.9d32a8","type":"mqtt in","z":"715fde2e.295388","name":"Fontes de calor e fogo","topic":"queimadas","qos":"0","datatype":"auto","broker":"56623c88.ebbc04","x":420,"y":620,"wires":[["e45f07ea.f6ca4"]]},{"id":"56623c88.ebbc04","type":"mqtt-broker","z":"","name":"AWS IOT","broker":"a3gx386m9gv319-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"7b80bc72.21f89c","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7b80bc72.21f89c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"807dfb142a-certificate.pem.crt","keyname":"807dfb142a-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true}]