docker/flows.json
[{"id":"715fde2e.295388","type":"tab","label":"AWS IOT","disabled":false,"info":""},{"id":"c0f01c33.cbf7","type":"inject","z":"715fde2e.295388","name":"Ariranha","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"Ariranha\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":100,"y":280,"wires":[["c3175fc9.394d68"]]},{"id":"4db087af.b86d3","type":"random","z":"715fde2e.295388","name":"temperatura","low":"20","high":"40","inte":"true","property":"payload.temperatura","x":670,"y":340,"wires":[["6d06dc04.161fec"]]},{"id":"c3175fc9.394d68","type":"random","z":"715fde2e.295388","name":"humidade","low":"10","high":"30","inte":"true","property":"payload.humidade","x":520,"y":340,"wires":[["4db087af.b86d3"]]},{"id":"9bcbdf3f.e589c","type":"inject","z":"715fde2e.295388","name":"Onça Pintada","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"Onca Pintada\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":110,"y":340,"wires":[["c3175fc9.394d68"]]},{"id":"b445bd49.dc9dc","type":"inject","z":"715fde2e.295388","name":"Preguiça","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"Preguiça\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":100,"y":400,"wires":[["c3175fc9.394d68"]]},{"id":"673067bb.056e1","type":"inject","z":"715fde2e.295388","name":"Fonte de Água","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"SensorAgua\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":120,"y":480,"wires":[["42400703.b32e6"]]},{"id":"42400703.b32e6","type":"random","z":"715fde2e.295388","name":"ph","low":"5","high":"9","inte":"true","property":"payload.ph","x":330,"y":480,"wires":[["4af81d15.6fef8c"]]},{"id":"4af81d15.6fef8c","type":"random","z":"715fde2e.295388","name":"Nível de água","low":"1","high":"10","inte":"true","property":"payload.nivelagua","x":500,"y":480,"wires":[["213d18e.87dbae8"]]},{"id":"213d18e.87dbae8","type":"random","z":"715fde2e.295388","name":"temperatura","low":"20","high":"40","inte":"true","property":"payload.temperatura","x":710,"y":460,"wires":[["6d06dc04.161fec"]]},{"id":"7a7445f6.0c9c3c","type":"inject","z":"715fde2e.295388","name":"Fonte de calor e fogo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"thing\":\"SensorFogo\",\"temperatura\":\"0\",\"humidade\":\"0\",\"localizacao\":\"111111111111111111111111\",\"ph\":\"1\",\"nivelagua\":\"1\",\"co2\":\"1\"}","payloadType":"json","x":140,"y":560,"wires":[["a7e0ffff.9397e8"]]},{"id":"a7e0ffff.9397e8","type":"random","z":"715fde2e.295388","name":"temperatura","low":"20","high":"40","inte":"true","property":"payload.temperatura","x":430,"y":560,"wires":[["e5028a57.785df8"]]},{"id":"e5028a57.785df8","type":"random","z":"715fde2e.295388","name":"co2","low":"1","high":"10","inte":"true","property":"payload.co2","x":670,"y":560,"wires":[["6d06dc04.161fec"]]},{"id":"6d06dc04.161fec","type":"mqtt out","z":"715fde2e.295388","name":"","topic":"","qos":"","retain":"","x":1050,"y":440,"wires":[]}]